<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BulkDemoConnection" connectionString="Data Source=(localdb)\v11.0;Initial Catalog=BulkDemo;Integrated Security=SSPI" />
        <add name="BulkDemo.Test.Properties.Settings.BulkDemoConnection"
            connectionString="Data Source=(localdb)\mssqllocaldb;Initial Catalog=BulkDemo;Integrated Security=SSPI" />
    </connectionStrings>
</configuration>